html,body
{
font-size: 0;
margin: 0;

width: 100%;
height: 100%;
}


#container
{
font-size: 0;
overflow: hidden;
width: 100%;
height: auto;
background-color:brown;

position: relative;
display: inline-block;
}

#header
{
width: 100%;
height: 3%;
background-color:#A8A8A8; /*gray*/

position: relative;
z-index: 1;
}

#searchTwitchForm
{
font-size: 10px;
overflow: auto;

width: 10%;
height: 100%;
background-color:lightgray;

position: relative;
display: inline-block;
}

#savedChatList
{
font-size: medium;
overflow: hidden;

width: 15%;
height: 100%;
background-color:#E0E3E8; /*lighterergray*/

position: absolute;
display: inline-block;

margin-top: 0px;

z-index: 2;
/*display: none;*/
}

#center
{
font-size: 0;
overflow: auto;

width: 85%;
height: 97%;
background-color:#E8E8E8; /*lightergray*/

position: relative;
display: inline-block;
}

#twitchchat
{
font-size: 0;

width:  350px;
height: 580px;
background-color: blue;
color: black;

position: relative;
display: inline-block;
}

#chat_embed
{
margin: 20px 0px 0px 10px;
}

#logo
{
position: relative;
display: inline-block;
}

#streamer
{
font-size: 170%;
width: 170px;

color: darkgreen;
cursor: pointer;
overflow: hidden;

text-overflow:ellipsis;

position: relative;
display: inline-block;
}

#streamerslist
{
font-size: small;

width: 100%;
cursor: pointer;
height: 30px;

border-color: black;
border-bottom: 1px solid;
}

.topcornerlogo
{
position: absolute;
top:0;
right:0;
background-color: white;
border-color: black;
border: 2px solid;
border-radius: 4px;
}
/*
 * Custom Fonts
 * The following should not be editted.
 */

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

@font-face {
font-family: 'SansationLight';
src: url('./SansationLight.eot');
src: local('SansationLight'), url('./SansationLight.woff') format('woff'), url('./SansationLight.ttf') format('truetype');
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_423">Text with this font applied</p> */
.senlightfont {
    font-family: 'SansationLight' !important;
} /* Font downloaded from FontsForWeb.com */

/*
 * JQuery CSS
 * The following should not be editted.
 */

/* scroll results */
.ui-autocomplete {
max-height: 250px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
/* add padding for vertical scrollbar */
padding-right: 5px;
}

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}

.ui-autocomplete li {
    font-size: 16px;
}

.marquee {
width:  100px; /* the plugin works for responsive layouts so width is not necessary */

overflow: hidden;
border:1px solid #black;
background: gray;

position: relative;
display: inline-block;

}
